#headLine {
    background-color: #ecf7ca;
    height: 60px;
}
#line{
    background-color: #1ec208;
    height: 5px;
}
#siteName{
    float: left;
    margin-top: 12px;
    margin-left: 30px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #616e69;
    font-size: 30px;
}

#title{
    margin-top: 10px;
    margin-left: 165px;
}

#addImg button {
    margin-top: 20px;
    margin-left: 165px;
    vertical-align: middle;
    text-align: center;
}
#addImg button img {
    padding: 0;
    border: 0;
}
#addImg button div {
    padding: 2px;
}

.title{
    margin-top: 20px;
    margin-left: 165px;
}
.titleText {
    margin-top: 20px;
    margin-left: 165px;
    outline: none;
}
.titleText textarea {
    outline: none;
}

