#headLine {
	background-color: #ecf7ca; 
	height: 60px;
}
#line{
  background-color: #1ec208;
  height: 5px;
}
#siteName{
	float: left; 
	margin-top: 12px;
    margin-left: 30px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif; 
	color: #616e69; 
	font-size: 30px;
}
#menu{
	float: right; 
	margin-right: 5px; 
	margin-top: 3px;
    font-size: 24px;
}
#menu a:hover {
  color: #fc4200;
}
#menu a {
  color: #f09d3a;
  text-decoration: none;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 24px;
  margin-left: 8px;
}
#headLine a:hover {
    color: #fc4200;
}
#headLine a {
    color: #f09d3a;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    margin-left: 8px;
}


