#button{
    color: #030303;
    background-color:  #f6d897;
    padding: 3px 100px 3px 100px;
    float: right;
    font-size: 18px;
    margin-right: 10px;
    text-decoration: none;
    border: 1px solid #8c8987;
}
#button:active{
    border: 0;
}

.actionButton{
    background-color:  #ecf7ca;
    padding: 3px 10px 3px 10px;
    float: right;
    font-size: 18px;
    margin-right: 10px;
    text-decoration: none;
    color: #030303;
    border: 1px solid #8c8987;

}

#actionButton:active{
    border: 0;
}

#actionButton a:hover {
    color: #fc4200;
}

#headLine {
    background-color: #ecf7ca;
    height: 60px;
}
#line{
    background-color: #1ec208;
    height: 5px;
}
#siteName{
    float: left;
    margin-top: 12px;
    margin-left: 30px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #616e69;
    font-size: 30px;
}
#textField input{
    margin-top: 7px;
    float: right;
    width: 360px;

}
#textField input:focus{
    outline: none;
}
#textField button{
    float: right;
    height: 22px;
    margin-top: 7px;
    box-shadow: 0 0 3px #acafa5;
    padding: 0;
    border: 0;
}
#textField button img{
    height: 22px;
}
